pandas
pathlib
numpy
google-cloud-storage
futures
ipykernel
more-itertools
bs4
matplotlib
seaborn
networkx
scipy
langchain
vertexai
google-cloud-aiplatform
google-generativeai
ipywidgets
scikit-learn
SQLAlchemy
psycopg2-binary
pgvector
openpyxl
sentence_transformers
torch
tensorflow
tensorflow-text